.uiUfiLikeIcon{
    background-image: url(http://i.imgur.com/XQYj5.png);
    background-position: 0px 0px;
}

/*
.sp_6pp38j{
    background-image: url(http://i.imgur.com/loJcl.png);
    background-position: 0px 0px;
}
*/
.sx_2b5522{
    background-image: url(http://i.imgur.com/XQYj5.png);
    width: 15px;
    height: 13px;
    background-position: 0px 0px;
}

.fbTimelineFeedbackLikes{
    background-image: url(http://i.imgur.com/XQYj5.png);
    width: 15px;
    height: 13px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.fbTimelineFeedbackLikes i{
    background-image: url(http://i.imgur.com/XQYj5.png);
    width: 15px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.cmt_like_icon {
    background-image: url(http://i.imgur.com/XQYj5.png);
    width: 15px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.sx_65a373 {
    background-image: url(http://i.imgur.com/XQYj5.png);
    width: 15px;
    height: 13px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
/*
.fbProfilePhotoThumb{
    background-image: url(http://ragemaker.net/images/thumbs/32.png);
    z-index: 99;
}
*/